/* Transform Translate */
.container{
    height: 200px;
    width: calc(100% - 1000px);
    border: 2px solid deeppink;
    background-color: lightseagreen;
}
.inner{
    height: 200px;
    width: 200px;
    border: 2px solid whitesmoke;
    background-color: chocolate;
    transform: scale(0.5) rotate(45deg) skewY(20deg) translateX(30px) translateX(20px);
    /* translate: 100px 30px; */
}
/* Transition */
.transition-box{
    width: 150px;
    height: 150px;
    background-color: tomato;
    border: 2px solid green;
    /* property name| duration | easing function | delay */
    transition: width 5s ease-in-out 1s, background-color 3s 3s, border 3s 3s, transform 3s ease-in-out 2s;
}
h2{
    text-align: center;
}
.transition-box:hover{
    width: 500px;
    background-color: seagreen;
    border: 2px solid magenta;
    transform: rotate(20deg);
}